#whatsappIcon {
    position: fixed;
    bottom: 90px;
    /* Distance from the bottom */
    right: 20px;
    cursor: grab;
    font-size: 3rem;
    color: #25d366;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#whatsappIcon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    z-index: -1;
}

@keyframes pulse-border {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

#whatsappIcon i {
    pointer-events: none;
}